[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pycodestyle = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.6"
